src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:5566/?xsd=1"/>
</xsd:schema>
</types>
<message name="consulterCompte">
<part name="parameters" element="tns:consulterCompte"/>
</message>
<message name="consulterCompteResponse">
<part name="parameters" element="tns:consulterCompteResponse"/>
</message>
<message name="listeCompte">
<part name="parameters" element="tns:listeCompte"/>
</message>
<message name="listeCompteResponse">
<part name="parameters" element="tns:listeCompteResponse"/>
</message>
<message name="counvertir">
<part name="parameters" element="tns:counvertir"/>
</message>
<message name="counvertirResponse">
<part name="parameters" element="tns:counvertirResponse"/>
</message>
<portType name="BanqueService">
<operation name="consulterCompte">
<input wsam:Action="http://ws/BanqueService/consulterCompteRequest" message="tns:consulterCompte"/>
<output wsam:Action="http://ws/BanqueService/consulterCompteResponse" message="tns:consulterCompteResponse"/>
</operation>
<operation name="listeCompte">
<input wsam:Action="http://ws/BanqueService/listeCompteRequest" message="tns:listeCompte"/>
<output wsam:Action="http://ws/BanqueService/listeCompteResponse" message="tns:listeCompteResponse"/>
</operation>
<operation name="counvertir">
<input wsam:Action="http://ws/BanqueService/counvertirRequest" message="tns:counvertir"/>
<output wsam:Action="http://ws/BanqueService/counvertirResponse" message="tns:counvertirResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consulterCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="counvertir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:5566/"/>
</port>
</service>
</definitions>